i {
  &.i {
    width: 30px;
    height: 30px;
    font-style: normal !important;

    &::before {
      display: inline-block;
      height: 30px;
      width: 30px;
    }

    &.i-close {
      width: auto !important;
      height: auto !important;

      &::before {
        content: "\2715";
        height: auto !important;
        width: auto !important;
      }
    }

    // ICONS BY IMG

    &.i-mail {
      &::before {
        content: "";
        background: url("../img/icons/mail.svg") no-repeat 0 0;
        background-size: 30px 30px;
      }
    }

    &.i-menu {
      &::before {
        content: "";
        background: url("../img/icons/menu.svg") no-repeat 0 0;
        background-size: 30px 30px;
      }
    }

    &.i-phone {
      &::before {
        content: "";
        background: url("../img/icons/phone.svg") no-repeat 0 0;
        background-size: 30px 30px;
        height: 30px;
        width: 30px;
      }
    }

    &.i-web {
      &::before {
        content: "";
        background: url("../img/icons/web.svg") no-repeat 0 0;
        background-size: 30px 30px;
      }
    }

    &.i-upload {
      width: auto !important;
      height: auto !important;

      &::before {
        content: "";
        background: url("../img/icons/upload.svg") no-repeat 0 0;
        background-size: 60px 60px;
        width: 60px !important;
        height: 60px !important;
      }
    }

    &.i-avatar {
      &::before {
        content: "";
        background: url("../img/icons/avatar.svg") no-repeat 0 0;
        background-size: 30px 30px;
      }
    }

    &.i-arrow {
      position: relative;
      bottom: 5px;

      &::before {
        content: "";
        background: url("../img/icons/arrow.svg") no-repeat 0 0;
        background-size: 20px 20px;
        height: 20px;
        width: 20px;
      }
    }

    &.i-play-arrow {
      width: auto;
      height: auto;

      &::before {
        content: "";
        background: url("../img/icons/play-arrow.svg") no-repeat 0 0;
        background-size: 10px 10px;
        height: 10px;
        width: 10px;
      }
    }
  }


}

.ico {
  max-width: 25px !important;
}

.btn-ico {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0px;
  outline: none !important;
}