#dropdown {
    width: 80px;
    cursor: pointer;
    &:hover a:nth-child(1) {
      border-radius: 20px 20px 0 0;
    }
   
    a {
      opacity: 0;
      width: 100%;
      color: $white;
      border-style: none;
      background: $pink_hover;
      padding: 10px;
      outline: none;
      cursor: pointer;
      pointer-events: none;
  
      &:hover {
        background: $pink_light;
      }
  
      &:nth-child(1) {
        opacity: 1;
        pointer-events: auto;
        cursor: auto;
        border-radius: 20px;
      }
  
      &:last-child {
        border-radius: 0 0 20px 20px;
      }
    }
  
    &:hover a {
      opacity: 1 !important;
      pointer-events: auto;
    }
  }