// MAIN COLORS

$pink: #e91c63;

$pink_hover: #EE558A;

$pink_shadow: #AF154A;
$pink_shadow_dark: #740E32;

// COMPLEMENTARY COLORS
$green: #C9E91C;
$turquoise: #1CE9A2;
$blue: #3C1CE9;

// OTHERS
$white : #fff;

$spacing : 0.8px;

$font-Roboto: 'Roboto', sans-serif;;

// <MEDIA RESPONSIVE>
$extra_small: 425px; // Small devices (landscape phones, 576px and up)
$small: 576px; // Small devices (landscape phones, 576px and up)
$medium: 768px; // Medium devices (tablets, 768px and up)
$large: 992px; // Large devices (desktops, 992px and up)
$extra_large: 1200px; // Extra large devices (large desktops, 1200px and up)
// </MEDIA RESPONSIVE>
