@import "common/common";

body {
  @include font($font-Oswald, 16px, 400, 1.5, $spacing);
  background-color: $pink;
  color: $white;

  &::after {
    content: "";
    // background-color: rgba(0, 20, 80, 0.1);
    position: absolute;
    top: 0;
  }
}

a {
  outline: none !important;
  text-decoration: none !important;

  color: $blue;

  @include transition(all .3s linear);

  &:hover {
    color: rgba($blue, .8);
  }
}


.img-logo {
  display: flex;
  justify-content: flex-end;
}